.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-navbar {
  justify-content: center;
}

.center-navbar .navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.uppercase {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  width: 40%;
  height: 100px;
  margin-bottom: 100px;
  position: absolute;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  margin-top: 20px;
  margin-bottom: 0.5rem;
  text-align: left;
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.text-danger {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  text-align: left;
}

button.btn {
  width: 100%;
  background-color: #5696c2;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .social-icons {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.footer-content .social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-content .copyright {
  margin-top: 0px;
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
